
body {
    background-color: black;
    color:white;
}

* {
    font-family: "Intel One Mono", monospace;
    font-optical-sizing: auto;
    font-weight: 10;
    font-style: normal;
}

h1 {

    text-align: center;
}

h2 {
    margin-top: 120px;
    text-align: center;
}

.item img {

    width: 500px;
    height: 250px;
}

.item p {

    text-align: center;
    font-size: 35;
}

.mapas {

    margin-top: 10px;
    display: flex;
    width: max-content;
    gap: 10px;

    
    position: relative;
    left: 0px;
}


.scroll-box {
    width: max-content - 10px;
    height: max-content;
    overflow-y: scroll; /* Enables vertical scrolling */
    padding: 10px;
    background-color: #919191;
}

/* Optional: Custom scrollbar styling */
.scroll-box::-webkit-scrollbar {
    width: 10px;
}

.scroll-box::-webkit-scrollbar-thumb {
    background: #333333;
    border-radius: 4px;
}

.scroll-box::-webkit-scrollbar-thumb:hover {
    background: #313131;
}